*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    position: relative;
    width: 100%;
    height: 100vh;
    /*background-color: black;*/
    overflow: hidden;
}

#video1{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all cubic-bezier(0.19,1,0.22,1)0.5;
}

#video2{
    position: absolute;
    right: 0;
    top: 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 70%;
    left: 50%;
    transform: translate(-50%,0);
    width: 15vw;
    height: 10vh;
    background-color: aliceblue;
    z-index: 9;
}

#dragme, .dragme-child{
    position: absolute;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    z-index: 2;
   /* background-color: rgb(69, 137, 196);*/
}

.dragme-child{
    animation: circle 10s linear infinite;
    border: 2px dotted #fff;
}
.cir-p{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 5vw;
    height: 5vw;
   /* background-color: #16bc11;*/
}

.cir{
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: #dd510c;
}

@keyframes circule{
    0%{
        rotate: -360deg;
    }
    100%{
        rotate: 0deg;
    }
}